{% extends "base.html" %}

{% block title %}ASSO.N.A.M.{% endblock %}

{% block hero %}
<section class="hero">
    <div class="hero__overlay"></div>
    <div class="hero__content">
        <svg class="hero__title" viewBox="0 0 1200 320" xmlns="http://www.w3.org/2000/svg">
            <defs>
                <path id="curve" d="M 120 240 Q 600 70 1080 240" fill="transparent"/>
            </defs>
            <text width="1200">
                <textPath href="#curve" startOffset="50%" text-anchor="middle" class="hero__title-text">
                    ASSO.N.A.M.
                </textPath>
            </text>
        </svg>
        <p class="hero__subtitle">Associazione Nazionale Arti e Mestieri</p>
        <a class="hero__cta" href="/associazioni">Scopri le associazioni affiliate</a>
    </div>
</section>
{% endblock %}

{% block content %}
<div style="text-align: center; padding: 50px;">
    <h2>Benvenuti nel portale</h2>
    <p>Utilizza il menu in alto per accedere ai servizi.</p>
</div>
{% endblock %}
